@import "./../../common/mordern-reset.css";

body {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  margin: 50px;
}

/* 테이블 스타일링 */
.talbe-wrapper {
  height: 625px;
  block-size: 625px;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.table-styling {
  table-layout: fixed;
  border: 1px solid currentColor;
  border-collapse: collapse;
  /* 상단 선이 살아있게 만들기 */
  /* border-collapse: separate; */
  border-spacing: 0;
  width: 100%;
  inline-size: 100%;

  .number {
    inline-size: 10%;
  }

  .name {
    inline-size: 20%;
  }

  .email {
    inline-size: 40%;
  }

  .phone {
    inline-size: 30%;
  }

  th {
    background-color: sandybrown;
    /* 첫번째 행 위치 고정 */
    position: sticky;
    top: 0;
    inset-block-start: 0;
  }

  th,
  td {
    border: 1px solid currentColor;
    padding: 1em;
  }

  /* 짝수만 배경색 넣기 - 짝수 even / 홀수 odd*/
  tbody tr:nth-child(even) {
    background-color: silver;
  }

  tbody tr {
    /* 테이블 상단을 근처 셀에 있는 걸로 잡아주기 */
    scroll-snap-align: start;
  }
}
