@import "./../../common/base.css";
@import "./../../common/a11y.css";

/* 임시 스타일 */
:root {
  /* 색상 */
  /* margin -> 위, 아래, 좌, 우 공백 추가 */
  margin: 50px;
  --dark-gray: #333;
  --white: #fff;
  --gray: #999;
  --green: #03cf5d;
  --silver: #dadada;

  /* 아이콘 크기 (박스) */
  --size-sm: 0.75rem;
  --size-base: 1rem;
  --size-md: 1.25rem;
  --size-lg: 1.5rem;

  /* 글짜 크기 */
  --text-sm : 0.50rem
  --text-base : 0.75rem
  --text-md : 1rem
  --text-lg : 1.25px
}

/* 기본 박스 사이징 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 로고 컴퍼런트 */
.brand {
  margin: 0;
  font-size: 1rem;

  a,
  svg {
    /* display:block -> 내부의 요소를 사이즈에 맞춰 줌 */
    display: block;
  }
}

/* 링크 컴퍼런트 */
.anchor--blank {
  /* anchor-color: var(--dark-gray, #333 -> 전역에 등록된 dark gray 따라간다, 없으면 #333의 컬러를 사용한다. */
  --anchor-color: var(--dark-gray, #333);

  /* text-decoration : none -> 텍스트 밑줄 및 색상을 없애줌 */
  text-decoration: none;
  /* color : currentcolor -> 색상을 부모속성을 따라 감 */
  color: currentColor;
}

/* 체크박스 컴퍼런트  */
.checkbox {
  position: relative;

  .checkbox__input {
    --icon-size: var(--size-lg, 1.5rem);

    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    margin: 0;
    inline-size: var(--icon-size);
    /* 정 사각형 일 경우 아래와 같은거 기재 */
    aspect-ratio: 1/1;
    /* 모양을 없애는 것 */
    appearance: none;
  }

  .checkbox__label {
    /* checkbox_lable의 화면을 하나로 합쳐줌 */
    display: flex;
    /* align-items:center -> 안에 있는 박스들을 중앙으로 정렬 */
    align-items: center;
    /* 아이템들의 상태를 떨어트려 줌 */
    gap: 0.25em;
  }

  .checkbox--area {
    fill: var(--white, #fff);
  }

  .checkbox--border {
    fill: var(--gray, #999);
  }

  .checkbox--mark {
    fill: var(--gray, #999);
  }

  .checkbox__input:checked + .checkbox__label .checkbox--area,
  .checkbox__input:checked + .checkbox__label .checkbox--border {
    fill: var(--green, #03cf5d);
  }

  .checkbox__input:checked + .checkbox__label .checkbox--mark {
    fill: var(--white, #fff);
  }
}

/* 입력 서식 커머런트 (input) 숨김 레이블 유형*/
.input {
  --border-color: var(--silver, #dadada);
  --text-color: var(--dark-gray, #333);
  --text-size: var(--text-base, ) 0.75rem;

font-size: var(--text-size, 0.75rem);  
  color: var(--text-color);

  .input__input {
    border: 1px solid var(--border-color);
    inline-size: 100%;
    block-size: 3rem;
    padding: 0.875rem;

    &:user-invalid + .input__error-massge span{
      visibility: visible;
    }
  }


  .input__error-massge{
    color: #ff1414;
    font-size: 0.75rem;
    margin: 0.5rem 0 0 0;

    
    span{
      /* 영역은 남고 컨텐츠는 안보임 / dsiplay: none는 영역도 없어짐 */
      visibility: hidden;
    }
  
  }
}

/* 스위치 컴퍼런트 (checkbox) */

.switch{
position: relative;

.switch__input{
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  margin: 0;
  inline-size: 2em;
  block-size: 1rem;
  appearance: none;
}

  .switch__label{
font-size:0.875rem;
font-weight: 700;
display: block;
inline-size: 2em;
text-align: end;
  
    &::after{
      content: 'OFF';
    }
  }

  .switch__input:checked + .switch__label::after{
    content: 'ON';
    color: #03cf5d;
  }

}