@import "./../../common/base.css";
@import "./../../common/a11y.css";

/* 임시 스타일 */
:root {
  /* 색상 */
  /* margin -> 위, 아래, 좌, 우 공백 추가 */
  margin: 50px;
  --dark-gray: #333;
  --white: #fff;
  --gray: #999;
  --green: #03cf5d;

  /* 아이콘 크기 (박스) */
  --size-sm: 0.75rem;
  --size-base: 1rem;
  --size-md: 1.25rem;
  --size-lg: 1.5rem;
}

/* 기본 박스 사이징 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 로고 컴퍼런트 */
.brand {
  margin: 0;
  font-size: 1rem;

  a,
  svg {
    /* display:block -> 내부의 요소를 사이즈에 맞춰 줌 */
    display: block;
  }
}

/* 링크 컴퍼런트 */
.anchor--blank {
  /* anchor-color: var(--dark-gray, #333 -> 전역에 등록된 dark gray 따라간다, 없으면 #333의 컬러를 사용한다. */
  --anchor-color: var(--dark-gray, #333);

  /* text-decoration : none -> 텍스트 밑줄 및 색상을 없애줌 */
  text-decoration: none;
  /* color : currentcolor -> 색상을 부모속성을 따라 감 */
  color: currentColor;
}

/* 체크박스 컴퍼런드  */
.checkbox {
  position: relative;

  .checkbox__input {
    --icon-size: var(--size-lg, 1.5rem);

    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    margin: 0;
    inline-size: var(--icon-size);
    /* 정 사각형 일 경우 아래와 같은거 기재 */
    aspect-ratio: 1/1;
    /* 모양을 없애는 것 */
    appearance: none;
  }

  .checkbox__label {
    /* checkbox_lable의 화면을 하나로 합쳐줌 */
    display: flex;
    /* align-items:center -> 안에 있는 박스들을 중앙으로 정렬 */
    align-items: center;
    /* 아이템들의 상태를 떨어트려 줌 */
    gap: 0.25em;
  }

  .checkbox--area {
    fill: var(--white, #fff);
  }

  .checkbox--border {
    fill: var(--gray, #999);
  }

  .checkbox--mark {
    fill: var(--gray, #999);
  }

  .checkbox__input:checked + .checkbox__label .checkbox--area,
  .checkbox__input:checked + .checkbox__label .checkbox--border {
    fill: var(--green, #03cf5d);
  }

  .checkbox__input:checked + .checkbox__label .checkbox--mark {
    fill: var(--white, #fff);
  }
}

/* 입력 서식 커머런트 (input) 숨김 레이블 유형*/
.input {
  background-color: yellow;
}

.input__input {
  border: 1px solid red;
  inline-size: 100%;
}
